@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.form-section {
    display: flex;
}

.form-text {
    margin-top: 0;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 25px */
}

.input-wrap {
    width: 480px;
    height: 64px;
    /*background: #FFFFFF;*/
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.input-wrap:hover {
    background: #F1F1F1;
}

.select-wrap {
    display: block;
    width: 100%;
}

.submit-block {
    cursor: pointer;
    margin-left: 56px;
    width: 480px;
    height: 64px;
    border-radius: 5.39553px;
    justify-content: center;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 123% */

    text-align: center;
}
